# Sanity CMS Konfiguration
# 1. Erstelle ein kostenloses Konto auf https://www.sanity.io
# 2. Erstelle ein neues Projekt
# 3. Trage die Werte hier ein

NEXT_PUBLIC_SANITY_PROJECT_ID=dein-projekt-id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
